:root {
  --couleur-primaire: #2a1358;
  --couleur-accent: #FFEC3F;
  --arriere-plan: #EAF2FF;
  --mauve-fonce: #3C236D;
  --fonte-main: 'Inter', sans-serif;
}

html{
  background-color:var(--arriere-plan);
}

h1, .h1 {
  font-size: 60px;
}
h2, .h2 {
  font-size: 40px;
}
h3, .h3 {
  font-size: 45px;
}
h4, .h4 {
  font-size: 40px;
}
h5, .h5 {
  font-size: 30px;
}
h6, .h6 {
  font-size: 25px;
}
