html {
  background-color: var(--bs-light);
  box-sizing: border-box;

  /*essaie*/
}

/*navbar
*********************************************/
.logo-entreprise {
  width: 250px;
  position: relative;
  left: 25px;
}
.navbar {
  background-color: var(--bs-dark);
  color: #ffec3f;
}
.container .navigation {
  background-color: #2a1358;
  width: 100%;
}

/*hero
*********************************************************/

.hero {
  background-color: var(--bs-primary);
}
.row {
  color: var(--bs-secondary);
  justify-content: center;
  align-content: normal;
  height: 100%;
}

.iphone .image {
  display: inline-block;
}
.image {
  z-index: 2;
  width: 23%;
}
#telecharger {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-end;
}
iframe {
  aspect-ratio: 5/9;
  box-sizing: border-box;
  width: 60%;
  max-width: 350px;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 10px 10px 15px rgba(36, 4, 54, 0.979);
}

.image {
  z-index: 2;
  width: 23%;
}

h1 {
  position: relative;
  top: 50px;
  color: var(--bs-secondary);
  font-size: 50px;
}
.telecharger_texte {
  position: relative;
  top: 55px;
  font-size: 30px;
}
.telechargerbtn {
  position: relative;
  top: -350px;
  left: -80px;
  color: #ffec3f;
  border: 5px solid #ffec3f;
  width: 400px;
  height: 50px;
  font-size: 25px;
  font-weight: 500;
  align-self: center;
}
.telechargerbtn:hover {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
  border-color: #ffec3f;
}
/*swipper
***********************************/
.voir-plus {
  background-color: var(--bs-light);
}
.swiper-slide img {
  border-radius: 25px;
  max-width: 450px;
  box-shadow: 10px 10px 15px rgba(36, 4, 54, 0.979);
}
.swiper-slide {
  width: auto;
  display: flex;
  position: relative;

  justify-content: center;
}
.swiper-slide-prev {
  opacity: 50%;
}
.swiper-button-prev {
  color: #2a1358;
  margin-right: 10px;
}
.swiper-button-next {
  color: #2a1358;
}
.swiper-slide-next {
  opacity: 50%;
  width: 0;
  z-index: 2;
  position: relative;
  left: 50px;
}
h1.swiper_titre.text-center {
  position: relative;
  top: -25px;
}

/*Carte fonctionalité
***********************************************************/
.fonctionalité {
  position: relative;

  color: #2a1358;

  font-size: 50px;
}
.texte {
  color: #2a1358;
}
.bi {
  font-size: 50px;
  color: var(--bs-primary);
  position: relative;
  left: 23%;
  top: 13%;
}
.bi-quote {
  font-size: 50px;
  color: #2a1358;
  position: relative;
  left: -2%;
  top: 13%;
}

.card-title {
  color: #2a1358;
}
h3 {
  color: #2a1358;
}

.card-text {
  color: #2a1358;
}
/* Témoignage
**************************************************************/
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--bs-secondary);
}

.card-img {
  width: 70%;

  top: 15px;
  left: 15px;
}
.card-body {
  margin: 10px;
  color: var(--bs-primary);
}
.card-img-top {
  height: 25vh;
  object-fit: cover;
  object-position: 0 -130px;
}
.alicia {
  height: 25vh;
  object-fit: cover;
  object-position: 0 -200px;
}
.george {
  height: 25vh;
  object-fit: cover;
  object-position: 0 -200px;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  font-size: 50px;
  color: var(--bs-primary);
}
.section-testimonials {
  color: var(--bs-primary);
  margin-bottom: 10px;
}
/*FAQ
****************************************************************/
.accordion {
  width: 100vw;
  justify-content: center;
  margin-bottom: 25px;
}

/*footer
*************************************************/

footer {
  width: 100%;
  height: 100%;
  background-color: var(--bs-primary);
}
.Jolyanne {
  color: var(--bs-secondary);
}
.Felix {
  color: var(--bs-secondary);
}
.mention {
  color: var(--bs-secondary);
}
.lien {
  color: #ffec3f;
}

/* infolettre
*************************************************/
#section-info {
  background-image: url(/assets/personne/festival.jpg);
  background-position: 0 -1200px;
  object-fit: cover;
  background-repeat: no-repeat;
}
.infobtn {
  background-color: var(--bs-secondary);
  position: relative;

  border: none;
  color: #2a1358;
  height: 40px;
}
.infobtn:hover {
  background-color: var(--bs-dark);
  color: var(--bs-secondary);
}
.info {
  background-color: rgba(42, 19, 88, 0.7);
}

button.btn.btn-primary.inscription {
  color: var(--bs-secondary);
  background-color: var(--bs-primary);
}
button.btn.btn-primary.inscription {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
}
