:root {
  --couleur-primaire: #2a1358;
  --couleur-accent: #FFEC3F;
  --arriere-plan: #EAF2FF;
  --mauve-fonce: #3C236D;
  --fonte-main: 'Inter', sans-serif;
}

html{
  background-color:var(--arriere-plan);
}

.iphone {
  background-color:var(--couleur-primaire);
  color:var(--couleur-accent);
  height: 100%;
  width: 100%;
}
.iphone_image {
  margin: 20px;
  
  width: 380px;

}
#telecharger {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-end;
}
h1, .h1 {
  position: relative;
  top: 0px;
  right: 275px;
  font-size: 60px;
  color: var(--mauve-fonce)
}
h2, .h2 {
  position: relative;
  top: -150px;
  right: -250px;
  font-size: 40px;
}
h3, .h3 {
  font-size: 45px;
}
h4, .h4 {
  font-size: 40px;
}
h5, .h5 {
  font-size: 30px;
}
h6, .h6 {
  font-size: 25px;
}
