.row {
  background-color: #2a1358;
  color: #ffec3f;
  width: 100%;
  height: 100%;
}
.iphone {
  background-color: #2a1358;
  color: #ffec3f;
  height: 100%;
  width: 100%;
}
.iphone_image {
  width: 90%;
  height: 90%;
}
#telecharger {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-end;
}
h1 {
  position: relative;
  top: -110px;
  right: -190px;
  font-size: 60px;
}
h2 {
  position: relative;
  top: -200px;
  right: -90px;
}
.btn {
  position: relative;
  top: -385px;
  right: 400px;
  color: #ffec3f;
  border-color: #ffec3f;
}
