
:root {
  --couleur-primaire: #2a1358;
  --couleur-jaune: #FFEC3F;
  --arriere-plan: #EAF2FF;
}






html{
  background-color:var(--arriere-plan);
}

.row {
  background-color:var(--couleur-primaire);
  color:var(--couleur-jaune);
  width: 100%;
  height: 100%;
}
.iphone {
  background-color:var(--couleur-primaire);
  color: #ffec3f;
  height: 100%;
  width: 100%;
}
.iphone_image {
  width: 100%;
  height: 100%;
}
#telecharger {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-end;
}
h1 {
  position: relative;
  top: -110px;
  right: -190px;
  font-size: 60px;
}
h2 {
  position: relative;
  top: -200px;
  right: -90px;
}
.btn {
  position: relative;
  top: -385px;
  right: 400px;
  color: #ffec3f;
  border-color: #ffec3f;
}
