/*-- Styles Généraux --*/
*{
    font-family: var(--fonte-main);
    list-style-type: none;
}

body {
    height: 100vh;
    background-color: var(--arriere-plan);
    overflow-x: hidden;
}

h2 {
    color: var(--couleur-primaire);

}

p {
    text-align: center;
}

 /*-- NavBar --*/
.navbar {
    background-color: var(--couleur-primaire);
    border-radius: 0px 0px 25px 25px;
}

.offcanvas-header {
    background-color: var(--mauve-fonce);
}

.offcanvas-body {
    background-color: var(--couleur-primaire);
}

.pfp {
    border-radius: 50%;
}

/*-- Barre de recherche --*/
#searchbar {
    border-color: var(--couleur-primaire);
    border-width: 5px;
}

.filter {
    text-align: center;
}

.btn {
    background-color: var(--couleur-accent);
    border-radius: 25px;
    border-width: 2px;
    color: var(--couleur-primaire);
    border-color: var(--couleur-primaire);
    white-space: nowrap;
}

.btn:hover {
    background-color: var(--couleur-primaire);
    color: var(--couleur-accent);
    border-color: var(--couleur-primaire);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-control {
    border-radius: 25px;
    border-color: var(--couleur-primaire);
    border-width: 2px;
    color: var(--couleur-primaire);
    background-color: var(--couleur-accent);
}


/*-- Footer --*/
footer {
    background-color: var(--couleur-primaire);
    color: white;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

/*-- En vedette --*/

.oeuvre {
    height: 20vh;
    object-fit: cover;
    border-radius: 25px;
}

.artist {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    text-decoration: none;
    color: var(--couleur-primaire);
    background-color: var(--arriere-plan);
    border-radius: 25px;
}

#vedette .card {
    max-width: 200px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
}

.card-body {
    font-size: 15px;
}

.info {
    color: var(--couleur-accent);
    background-color: var(--mauve-fonce);
    padding: 5px 5px 5px 10px;
    border-radius: 25px;
}

.horaire {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0px 0px 20px var(--couleur-primaire);
}

#vedette {
    width: 140%;
}

/*-- Autres --*/

