/*-- Styles Généraux --*/
*{
    font-family: var(--fonte-main);
}
 /*-- NavBar --*/
.navbar {
    background-color: var(--mauve-fonce);
}

.offcanvas-header {
    background-color: var(--mauve-fonce);
}

.pfp {
    border-radius: 50%;
}

/*-- Footer --*/
footer {
    background-color: var(--couleur-primaire);
    color: white;
    text-align: center;
}

